.teste-dimensionamento{
    width: 500px;
    height: 500px;
}

.texto-variavel{
    text-align: center;
}

@media screen and (max-width: 420px) {
	.texto-variavel::before{
        content: "Cinza ";
    }
	
    .teste-dimensionamento{
        background-color: gray;
    }
}

@media (min-width: 421px) and (max-width: 768px) {
	.texto-variavel::before{
        content: "Laranja ";
    }
	
    .teste-dimensionamento{
        background-color: orange;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
	.texto-variavel::before{
        content: "Rosa ";
    }
	
    .teste-dimensionamento{
        background-color: pink;
    }
}

@media (min-width: 1025px) and (max-width: 1080px) {
	.texto-variavel::before{
        content: "Vermelho ";
    }
	
    .teste-dimensionamento{
        background-color: red;
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {
	.texto-variavel::before{
        content: "Azul ";
    }
	
    .teste-dimensionamento{
        background-color: blue;
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
	.texto-variavel::before{
        content: "Amarelo ";
    }
	
    .teste-dimensionamento{
        background-color: yellow;
    }
}

@media (min-width: 1921px) {
	.texto-variavel::before{
        content: "Verde ";
    }
	
    .teste-dimensionamento{
        background-color: green;
    }
}
